@model WaitlListMongoDB.Models.Person

@{
    ViewBag.Title = "PastList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="headerList" class="row container-body">
    <h2 id="headerList">Past Waitlist </h2>
    @Html.ActionLink("View Current List", "Waitlist", null, new { @id = "viewPastList" })
</div>

<div class="row">
    <div id="partialContents" data-url="/Home/PastListViewAsync">
        <img src="~/Content/loading.gif" />Loading...
    </div>
</div>

<script>
    $("#partialContents").each(function (index, item) {
        var url = $(item).data("url");
        if (url && url.length > 0) {
            $(item).load(url);
        }
    });
</script>
