@model WaitlListMongoDB.Models.UserSettings

@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Settings</h2>
<div class="row">
    <div class="col-sm-4">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a data-toggle="pill" href="#avgwaitsettings">Average Wait Settings</a></li>
            <li><a data-toggle="pill" href="#menu1">Menu 1</a></li>
            <li><a data-toggle="pill" href="#menu2">Menu 2</a></li>
        </ul>
    </div>

    <div class="col-sm-8">
        <div class="tab-content">
            <div id="avgwaitsettings" class="tab-pane fade in active">
                <h3 class="settingsHeader">Average Wait Settings</h3>
                @Html.Action("AvgWaitSettingsPartial","Home")
            </div>
            <div id="menu1" class="tab-pane fade">
                <h3 class="settingsHeader">Menu 1</h3>
                <p>Some content in menu 1.</p>
            </div>
            <div id="menu2" class="tab-pane fade">
                <h3 class="settingsHeader">Menu 2</h3>
                <p>Some content in menu 2.</p>
            </div>
        </div>
    </div>
</div>




